.dropdown::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.bigscreen{
    background-color: aqua;
}

/* .dropdown {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
} */

.dropdown {
    position: absolute; 
    left: 0; 
    top: 100%; 
    background-color: black; 
    width: 100%;
    max-height: 70vh; 
    overflow-y: auto; 
    z-index: 1000; 
}


li{
    list-style: none;
}

.numberpriceinputfield::-webkit-inner-spin-button{
    display: none;
}